<header class="page-header">
  <h2>查看打位</h2>
</header>
<div class="row">
  <div class="col-md-12">
    <%= porto_flash %>
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">打位信息</h2>
      </header>
      <div class="panel-body">
        <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= porto_arat 'bay.name' %></label>
            <div class="col-sm-6">
              <%= text_field_tag nil, @bay.name, readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= porto_arat 'bay.tags' %></label>
            <div class="col-sm-6 bay-tags">
              <%= bay_tags(@bay.tags) %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= porto_arat 'bay.location' %></label>
            <div class="col-sm-6">
              <%= text_field_tag nil, te_bay_location(@bay.location), readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= porto_arat 'bay.state' %></label>
            <div class="col-sm-6">
              <%= text_field_tag nil, @bay.aasm.human_state, readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= porto_arat 'bay.price_per_hour' %></label>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon"><%= porto_arat 'bay.weekday_price' %></span>
                <%= text_field_tag nil, porto_price(@bay.weekday_price_per_hour), readonly: true, class: 'form-control' %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon"><%= porto_arat 'bay.holiday_price' %></span>
                <%= text_field_tag nil, porto_price(@bay.holiday_price_per_hour), readonly: true, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= porto_arat 'bay.price_per_bucket' %></label>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon"><%= porto_arat 'bay.weekday_price' %></span>
                <%= text_field_tag nil, porto_price(@bay.weekday_price_per_bucket), readonly: true, class: 'form-control' %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon"><%= porto_arat 'bay.holiday_price' %></span>
                <%= text_field_tag nil, porto_price(@bay.holiday_price_per_bucket), readonly: true, class: 'form-control' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to '返回', bays_path, class: 'btn btn-default' %>&nbsp;
        <%= link_to '编辑', edit_bay_path(@bay), class: 'btn btn-primary' %>&nbsp;
      </div>
    </section>
  </div>
</div>
