<header class="page-header">
  <h2>更换打位</h2>
</header>
<div class="row">
  <div class="col-md-12">
    <%= render "operation/commons/error_messages", target: @line_item %>
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">打位信息</h2>
      </header>
      <div class="panel-body">
        <%= form_for @line_item, url: update_bay_line_item_path(@line_item), html: { class: 'form-horizontal form-bordered' } do |f| %>
          <div class="form-group">
            <label class="col-sm-3 control-label">当前打位</label>
            <div class="col-sm-6">
              <%= text_field_tag nil, @line_item.bay.name, readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">更换打位 <span class="required">*</span></label>
            <div class="col-sm-6">
              <%= f.select :bay_id, bay_options, {}, data: { 'plugin-selectTwo' => 'true' }, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 text-center">
              <%= f.submit '提交', class: 'btn btn-primary' %>&nbsp;
              <%= link_to '返回', @line_item.tab, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>